nav {
    padding: 5px;
    height:35px ;
    background-color: #ece5e5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;  
}
.nav_menu li {
    float: left;
}

.website_title {
    padding: 0 20px;
    font-family: 'Edwardian Script ITC';
    font-size: 25pt;
    font-weight: bolder;
    width: 170px;
    color: #311111;
}

.nav_menu a:link,a:visited {
    display: block;
    width: 150px;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #806e6e;
}
.nav_menu a:hover, a:active {
    background-color: #311111;
}

.nav_personal ul li{
    float: right;
    padding: 5px;

    width: 150px;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #dbadad;
}

.nav_personal ul li:hover{
    background-color: #e9d5d5;
}

#login_menu {
    display: none;
    position: relative;
    float: right;
}

#login_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}
#login_menu li{
    padding: 5px; width: 100px;background-color: #806e6e;
}
#login_menu li:hover{
    background-color:  #311111;
}
#login_menu li a{
    padding: 0px;
    font-size: 10pt;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
li img {
    height: 13px;
    width: 13px;
    padding: 0 10px;
    
}


li img.user_logo {
    height: 17px;
    width: 17px;
}

section.container {
    text-align: center;
    width: 50vw;
}
body{
    margin:0 auto;
    text-align:center;
    
}
* {  margin:0px auto 0px auto;} 
.header_pic img {
    text-align: center;
    width: 100vw;
}